<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="file">
            <h2><span jhiTranslate="meStudentApp.file.detail.title">File</span> {{ file.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="meStudentApp.file.title">Title</span></dt>
                <dd>
                    <span>{{ file.title }}</span>
                </dd>
                <dt><span jhiTranslate="meStudentApp.file.data">Data</span></dt>
                <dd>
                    <div *ngIf="file.data">
                        <a (click)="openFile(file.dataContentType, file.data)" jhiTranslate="entity.action.open">open</a>
                        {{ file.dataContentType }}, {{ byteSize(file.data) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="meStudentApp.file.taskAttachedTo">Task Attached To</span></dt>
                <dd>
                    <div *ngIf="file.taskAttachedTo">
                        <a [routerLink]="['/task', file.taskAttachedTo?.id, 'view']">{{ file.taskAttachedTo?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="meStudentApp.file.courseAttachedTo">Course Attached To</span></dt>
                <dd>
                    <div *ngIf="file.courseAttachedTo">
                        <a [routerLink]="['/course', file.courseAttachedTo?.id, 'view']">{{ file.courseAttachedTo?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="meStudentApp.file.commentAttachedTo">Comment Attached To</span></dt>
                <dd>
                    <div *ngIf="file.commentAttachedTo">
                        <a [routerLink]="['/comment', file.commentAttachedTo?.id, 'view']">{{ file.commentAttachedTo?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/file', file.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
